[submodule "external/GEScaleSyst"]
	path = external/GEScaleSyst
	url = https://github.com/jedori0228/GEScaleSyst.git
	branch = ForSKFlatAnalyzer
[submodule "KinematicFitter"]
	path = KinematicFitter
	url = git@github.com:diracyoon/KinematicFitter.git
